
<div class="dropdown">
  <%= button_to "", root_path, :class => "dropbtn", :method => :get %>
  <div class="dropdown-content">
    <%= link_to "Artist", about_path, class: "nav-link" %>
    <%= link_to "Archives", archives_path, class: "nav-link" %>
    <%= link_to "Contemporary", projects_path, class: "nav-link" %>
  </div>
</div>
