<div class="about">
  <p>
   My name is Albert Shena. I am a contemporary artist from Athens. From my very first work, I have showcased an interest in developing drawings with an illustrative character, while, since 2000, my work has broadened its scope, often taking the form of structured visual art with the use of various media (painting, drawing, photography, sculpture, and more), depending, every time, on my expressive needs. Consequently, my work guides the viewer's gaze from daily life to the revelation of a deeper meaning, attempting to create a form of painting that distances itself from external stimuli and visible images, and focused on absolute and pure shapes that are inspired by motives that are internal to the soul. I try to  proceed to an in-depth spiritual search, seeking the truth hidden within things. I create my work based on archetypal shapes, which lead thoughts to the basic structures of nature and are capable of speaking for their content with the strength of their drawing and the texture of their materials.
  </p>
</div>


<div class="work">
  {Work - Teaching} ● 2017–2019 Instructor at the Department of Painting of TRII ART HUB, Athens ● 2001–2019 Collaborated with several galleries in Greece ● 2002–2004 Associate of the Gioconda Video Film industry as an illustrator ● 1988–1989 Assistant Set Designer, Kinostudio Sheiperia e Re, Albania
</div>

<div class="ex">
{Exhibitions} ● 2019 Delphi—Milestone of the Superior School of Fine Arts ● 2019 TRII ART HUB exhibition ● 2015 Athens School of Fine Arts ● 2013 Architecture Center, Municipality of Thessaloniki ● 2013 Basilica of Saint Mark, Municipal Art Gallery of Iraklio, Crete ● 2013 Expression 512, Ptolemaida ● 2013 Reportage, Sarande, Albania ● 2012 Bios, Athens ● 2011 Mihalis Kakogiannis Foundation ● 2010 “Search in Depiction” Art Gallery ● 2008 Cultural Center of Neo Iraklio ● 2005 Cultural Center of Neo Iraklio ● 2001 Municipal Art Gallery of Lamia
</div>

