<div class="home">
  <div class="circle">
    <div class="name">
      <button class= 'draw'> Draw the circle</button>

    </div>
  </div>
</div>

<!-- <script>
 const drawCircle = document.getElementById('draw')
 drawCircle.addEventListener ('click', function(){
//   drawCircle.style.animation = "rotate 2s";
//   drawCircle.style.webkitAnimation = "rotate 2s";
// })

</script> -->

