// Place all the styles related to the archives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.images {
  padding: 50px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 100px;
  display: flex;
  width: 2000px;
  text-align: center;
}

.image {
  font-size:30px;
  font-family: Futura;
  writing-mode: vertical-rl;
  text-orientation: upright;
  padding: 20px;
  overflow-y: hidden;
  margin: auto;

}

.images img{
    cursor: pointer
}

