// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  color: black;
  font-family: futura;
  font-size: 30px;
  letter-spacing: 8px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  margin: auto;
  margin-top: 200px;
}

html {
  background-color: #dbdbdb;
}

.about {
  padding: 20px;
  background-color:black;
  margin-left: 160px;
  color: white;
  font-size: 12px;
  font-family: Futura;
  height: 175px;
  line-height: 30px;
  width: 1235px;
}

.work, .ex {
  padding: 20px;
  color: white;
  font-family: Futura;
  margin-right: 160px;
  font-size: 16px;

}

.work {
  margin-top: 150px;
}

.contact {
  color: black;
  font-family: Futura;
  font-size: 16px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}


