// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  color: black;
  font-family: futura;
  font-size: 30px;
  letter-spacing: 8px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  margin: auto;
  margin-top: 200px;
}

html {
  background-color: #dbdbdb;
}

.about {
  margin-left: 160px;
  color: white;
  font-size: 12px;
  font-family: Futura;
  height: 195px;
  line-height: 28px;
  border-radius: 5px;
}

.list ul {
   margin-top: 50px;
}



.work, .ex {
  background-color: black;
  color: white;
  font-size: 12px;
  font-family: Futura;
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.ex {
  float: right;
  margin-right: 0px;
}
