// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home {
  color: black;
  font-family: futura;
  font-size: 30px;
  letter-spacing: 8px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  text-align: center;
  margin: auto;
  margin-top: 200px;
}


html {
  background-color: #dbdbdb;
}
