// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
  font-family: Futura;
  font-size: 100px;
  text-decoration: none;
  color: white;
}

.title {
  margin-top: 50px;
  padding: 20px;
  float: right;
  margin-right: 0px;
}

a {
  text-decoration: none;
  color: black;
}
