// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// general css index

h1 {
  font-family: Futura;
  font-size: 100px;
  text-decoration: none;
  color: white;
}

.title {
  margin-top: 100px;
  padding: 20px;
  float: right;
  margin-right: 0px;
}

a {
  text-decoration: none;
  color: black;
}

// circle show page css

.circle-project {
  text-align: center;
  line-height: 30px;
  h1 {
    color: black;
    font-size: 20px;
  }
}

.project-text {
  position: absolute;
  margin-top: 50px;
  padding: 20px;
  width: 700px;
}

.circle-images {
  position: relative;
  margin-top: 200px;
  a {
    font-family: Futura;
    font-size: 30px;
    color: white;
    font-weight: lighter;
  }
}

.image1 {
  margin-right: 400px;
}

.image2 {
  margin-left: 700px;
}

.image3 {
  margin-left: 1200px;
  margin-top: 150px;
}

.image4 {
  display: flex;
  justify-content: space-around;
  margin-left: 150px;
  margin-top: 150px;
}

.image6 {
  margin-top: 175px;
  margin-left: 350px;
}

.image7 {
  margin-top: 100px;
  margin-right: 1000px;
}




// water show page css

.water-project {
  text-align: center;
  line-height: 30px;
  h1 {
    color: white;
    font-size: 20px;
  }
}

.water-text  {
  position: absolute;
  margin-top: 50px;
  padding: 20px;
  width: 400px;
  margin-left: 700px;
}

.water-images {
  position: relative;
  margin-top: 200px;
  a {
    font-family: Futura;
    color: black;
  }
}

.image8 {
  margin-right: 800px;
  a {
    font-size: 70px;
    font-weight: bold;
  }
}

.image9 {
  margin-right: 800px;
   a {
    font-size: 70px;
    font-weight: bold;
  }
}


.image10 {
  margin-right: 800px;
   a {
    font-size: 70px;
    font-weight: bold;
  }
}

.image11 {
  margin-right: 800px;
   a {
    font-size: 70px;
    font-weight: bold;
  }
}

